@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#navBar {
	width: 100%;
	background-color: #ffffff;
    z-index: 1;
    display: inline-block;
}

body {
	padding: 0;
	margin: 0;
	margin-bottom: 30px;
}

h2{
	padding: 10px 15px 9px 20px;
	margin:0;
	color: #3dbdbf;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	display: inline-block;
}

h3{
	padding: 7px 11px 6px;
	margin:0;
	color: white;
	background-color: #3dbdbf;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

h4{
	color: white;
    background-color: #3DBEC0;
    text-align: center;
    font-size: 1.2em;	
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0px;
    line-height: 40px;

}

h5{
    font-size: 1.2em;	
    font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}


img {
    width: 100%;
    height: auto;
}

#titleCaption{
	margin-bottom: 70px;
}


#headerImg{
	height: 400px;
    width: 100%;
    background: url(../assets/googleOaklandBlur.png) no-repeat 50% 50%;
    margin-bottom: 40px;
}

h1 { 
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   color: white; 
   font-size: 4em;
   margin-bottom:20px;
}


p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
}

.overlay {  
    background: rgba(10, 20, 30, .3);
    text-align: center;
    width: 100%;
    height: 100%; 
}

#titleText{
	position: absolute; 
	top: 80px; 
	width: 760px;
	left: 0;
	right: 0;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	padding-bottom: 50px;
}

#fixedNav {
    float:right;
    margin:8px;
    margin-top: 12px;
    margin-right: 12px
}

#fixedNavSearch {
    float: right;
    margin: 10px;
    margin-right: 90px;
    margin-top: 14px;
}

.outerGrid{
	max-width: 980px;
	margin-left: auto;
	margin-right: auto;
	height: 220px;
	margin-bottom: 20px;

}

.innerGrid {
    float: left;
    padding: 25px;
    text-align: center;
    text-decoration: none;
}
.innerGrid a {
    text-decoration: none;
}

.gridImg {
	width: 440px;
}

figcaption {
    background-color: #3DBEC0;
    text-align: center;
    color: white;
    size: 2em;
}

#map {
	height: 570px;
    width: 100%;
    background-color: #EEE;
}

#googleMapAlt {
	height: 630px;
    width: 100%;
    background: url(../assets/googleOakland.png) no-repeat 50% 50%;
}

.infoBox {
	float: left;
    margin: 20px;
    width: 380px;
    height: 500px;
    top: 70px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
}

#infoBoxHeader{
	width: 100%;
	background-color: #3DBEC0;
	color: white;
}

.storyProfile {
    display: block;
	width: 100%;
	height: 120px;
	border-bottom-width: 1px;
	border-bottom-color: #f0f0f0;
	border-bottom-style: solid;
    text-decoration: none;
}

#profilePicList {
	height: 80px;
	width: 80px;
	padding: 20px;
	float: left;
}

.profilePic {
	height: 120px;
	width: 120px;
}

.name {
	color:#585858;
	font-size: 1em;
	margin:15px;
	padding:0px;
	margin-left:0px;
	margin-bottom: 5px;
}

.profileDescription{
	color: #585858;
	font-size: .8em;	
	margin: 10px;
	margin-left: 0px;
	margin-top: 5px;
}


.description{
	width: 260px;
	float: right;
}

.outer3Grid{
	max-width: 1200px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}

#photosGrid{
	margin-top: 50px;
}

.inner3Grid{
    float: left;
    padding: 10px;
    height:200px;
    width:380px;
}

.profileImages{
	width:100%;
	height:100%;
}

.profileImagesAlt{
	width:320px;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:30px;
}

#submitStory{
	top:1000px;

}

#submitStoryButton{
	left:0;
	right:0;
	width:300px;
	margin: 0 auto;
	background-color: #3DBEC0;
	text-align: center;
	padding:5px;
	margin-top:5px;
	margin-bottom:20px;
}



#detail{
	margin-right:130px;
	margin-left:130px;
	margin-top:30px;
	margin-bottom: 20px
}

#infoTitle{
	color:#585858;
	text-align:center;
	font-size: 1.8em;
	margin-left:20px;
	margin-right:20px;
}

.foodDescription{
	color:#585858;
	font-size: .8em;	
	margin-left:30px;
	margin-right:30px;
	margin-bottom: 30px
}


#logo{
	height:40px;
	width:40px;
	vertical-align:middle;
}

.searchBox{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: .8em;
	height:30px;
	padding:5px;
	border:1px solid #dbdbdb;
}

#navbarSearch{
	width: 400px;
	border-style: solid none solid solid;

}



#mainSearch{
	border: 0;
	width: 500px;
}

#socialMediaIcons{
	width:300px;
	top:880px;
}


input#search-button{
	background-color:#856277;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:.8em;
	height:30px;
	text-decoration:none;
	border-style: none;
	font-family: 'Montserrat', sans-serif;
    margin: -4px;
}

.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
 .infoBoxAlt{
	float:left;
    padding: 20px;
 }

#foodInfoAlt{
	background-color:rgba(255, 255, 255, .85);
	height:550px;
    width:380px;
 	overflow:auto;
}

#backArrow{
	float:left;
	height:20px;
	width:auto;
	padding:10px;
}


