@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Slabo+27px);

/**************************** Generic Tag Styles ****************************/
body {
	padding: 0;
	margin: 0;
	margin-bottom: 80px;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

h1 { 
   font-weight: 700;
   color: white; 
   font-size: 4em;
   margin:20px;
}

h2 {
    padding: 8px;
    margin: 0;
    color: #203f54;
    font-weight: 700;
    display: inline-block;
    font-size: 1.4em;
}

h3 {
    padding: 7px 11px 6px;
    margin: 0;
    color: white;
    background-color: #75923D;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    font-family: 'Slabo 27px', serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
}

a { color: #7cc0c2; }

img {
    width: 100%;
    height: auto;
}

#logo {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}


#navBar {
	width: 100%;
	background-color: #ffffff;
    z-index: 1;
    display: inline-block;
}

.search-button {
    background-color: #eb6627;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.8em;
    text-decoration: none;
    border-style: none;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 7px;
}

.map-view {
    float: right;
}

.hide {
    display: none;
}

/*********************************** Map ***********************************/
#map {
    width: 100%;
    background-color: #EEE;
    height: calc(100% - 25px);
}

/********************* Splash Page (covers map templates/splash.html) ********************/
#splash {
    position: absolute;
	top: 47px;  
    background: rgba(34,34,34,0.45);
    text-align: center;
    width: 100%;
    z-index: 1000;
}

#title-text {
	width: 66%;
	left: 0;
	right: 0;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	padding: 10vh;
}

#title-caption{
    margin-bottom:60px;
    padding:10px;
}

#place-overview {
    background-color: #FFF;
    padding-top: 5px;
    /*min-height: 400px;*/
    position: fixed;
    bottom: 0px;
    height: 210px;
    width: 100%;
}
.outer-grid {
    margin-left: auto;
    margin-right: auto;
    height: 220px;
    padding-bottom: 40px;
    max-width: 960px;
}
.inner-grid {
    float: left;
    padding: 5px;
    text-align: right;
    text-decoration: none;
    height: 226px;
}
.grid-overlay {
    position: relative;
    top: 100px;
    z-index: 3;
    float: right;
}
.inner-grid div {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

/**.overlay-text:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 36.5px solid transparent;
    border-bottom: 36.5px solid transparent;
    border-right: 20px solid #75923d;
    float: left;
    position: relative;
    top: -14px;
}**/

.overlay-text {
    color: white;
    background-color: #75923d;
    font-size: 1.4em;
    font-family: 'Slabo 27px', serif;
    font-weight: 400;
    position: relative;
    padding:4px;
}

/********************* Food Detail Page (templates/place-detail.html) *********************/
.info-box {
    top: 70px;
    margin-left: 10px;
    width: 380px;
    /* height: 500px; */
    height: calc(100% - 150px);
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
    border-style: none none solid;
    border-color: #203F54;
    border-width: 20px;
    overflow: hidden;
}
.info-box > div {
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.info-box h2 {
    color: white;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: normal;
    text-align: right;
    position: relative;
    float: right;
    top: -98px;
    width: 160px;
}
.photo-container { 
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
svg {
    float: right;
    margin-top: 20px;
}
.tag, .tag-outline {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
}
.tag {
    cursor: pointer;
    fill: #203F54;
}
.tag-outline {
    fill-opacity: 0;
    stroke: #203F54;
    stroke-width: 2;
}

.food-detail {
    display: block;
	width: 100%;
	height: 120px;
	border-bottom-width: 1px;
	border-bottom-color: #f0f0f0;
	border-bottom-style: solid;
    text-decoration: none;
}

#twitter-handle i {
    color: #55acee;
}
#twitter-handle {
    color: #585858;
    font-size: 1.4em;
    padding: 20px;
    margin-top: 0;
    padding-bottom: 2px;
    font-weight: bold;
    width: calc(100% - 40px);
    margin-bottom: 0;
    font-family: 'Slabo 27px', serif;
}
.food-description {
    color: #585858;
    font-size: .8em;
    padding: 10px 20px 30px;
    margin: 0;
}


@media (max-width: 700px) {
    #title-text{
        width:100%;
        padding:0px;
    }
    h1{
        font-size:2.8em;
    }
}

@media (min-width: 1280px) {
    #title-text{
        width:645px;
    }
}



/**************************** Bottom Navigation ****************************/

#bottom-nav {
    background-color: #203F54;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    width: calc(100% - 20px);
    z-index: 1000;
}
#instagram-cta {
    float: right;
}
#twitter-cta i, #instagram-cta i {
    color: #fff;
    font-size: 1.4em;
    vertical-align: middle;
    padding-right: 10px;
}
@media (max-width: 700px) {
    #twitter-cta span, #instagram-cta span{
        font-size:0; 
    }
}