@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Slabo+27px);

/**************************** Generic Tag Styles ****************************/
body {
	padding: 0;
	margin: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

h1 { 
    font-weight: 700;
    color: #FFF;
    font-size: 5em;
    margin: 20px;
    margin-bottom: 0;
}

h2 {
    padding: 8px;
    margin: 0;
    color: #203f54;
    font-weight: 700;
    display: inline-block;
    font-size: 1.4em;
}

h3 {
    padding: 7px 11px 6px;
    margin: 0;
    color: white;
    background-color: rgb(32, 63, 84);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    font-family: 'Slabo 27px', serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
}

a { color: #7cc0c2; }

img {
    width: 100%;
    height: auto;
}

#logo {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}


#navBar {
	width: 100%;
	background-color: #ffffff;
    z-index: 1;
    display: inline-block;
}

.search-button {
    background-color: #FA8B60;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.2em;
    text-decoration: none;
    border-style: none;
    border-radius: 5px;
    padding: 2px 10px 5px;
    margin: 7px;
}

.map-view {
    float: right;
}

.hide {
    display: none;
}

/*********************************** Map ***********************************/
#map {
    width: 100%;
    background-color: #EEE;
    height:100%;
}

/********************* Splash Page (covers map templates/splash.html) ********************/
#splash {
    position: absolute;
	top: 47px;  
    background: rgba(22,39,61,0.65);
    text-align: center;
    width: 100%;
    z-index: 1000;
}

#title-text {
	width: 66%;
	left: 0;
	right: 0;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	padding: 80px;
}

#title-caption{
    margin-bottom:60px;
    padding:10px;
    margin-top: 0px;
}

#place-overview {
    background-color: #FFF;
    padding-top: 5px;
    /*min-height: 400px;*/
    width: 100%;
}
.outer-grid {
    margin-left: auto;
    margin-right: auto;
    height: 170px;
    padding-bottom: 40px;
    max-width: 960px;
}
.inner-grid {
    float: left;
    padding: 5px;
    text-align: right;
    text-decoration: none;
    height: 170px;
}
.grid-overlay {
    position: relative;
    top: 100px;
    z-index: 3;
    float: right;
}
.inner-grid > div {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}



.overlay-text:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px 12px 18px 0;
    border-color: transparent #203F54 transparent transparent;
    float: left;
    position: relative;
    top:-4px;

}

.overlay-text {
    color: white;
    background-color: #203F54;
    font-size: 1.4em;
    font-family: 'Slabo 27px', serif;
    font-weight: 400;
    position: relative;
    padding:4px;
}

/********************* Food Detail Page (templates/place-detail.html) *********************/
.info-box {
    background-color: #fff;
    display: none;
    border-style: none none solid;
    border-color: #203F54;
    border-width: 20px;
    overflow: hidden;
}
.info-box > div {
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.info-box h2 {
    color: white;
    line-height: 1.4em;
    font-weight: normal;
}
.photo-container { 
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
svg {
    float: right;
    margin-top: 20px;
}
.tag, .tag-outline {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
}
.tag {
    cursor: pointer;
    fill: #203F54;
}
.tag-outline {
    fill-opacity: 0;
    stroke: #203F54;
    stroke-width: 2;
}

.food-detail {
    display: block;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-color: #f0f0f0;
	border-bottom-style: solid;
    text-decoration: none;
}

#twitter-handle i {
    color: #55acee;
}
#twitter-handle {
    color: #585858;
    font-size: 1.4em;
    padding: 20px;
    margin-top: 0;
    padding-bottom: 2px;
    font-weight: bold;
    width: calc(100% - 40px);
    margin-bottom: 0;
    font-family: 'Slabo 27px', serif;
}
.food-description {
    color: #585858;
    font-size: .8em;
    padding: 10px 20px 30px;
    margin: 0;
}

@media (min-width: 700px) {
    .mobile-layout{
         font-size:0; 
    }
    .info-box{
        width: 380px;
        margin-left:10px;
        height: calc(100% - 150px);
        top: 70px;
        /* height: 500px; */
        position: absolute;
    }
    h2.browser-layout{
        text-align: right;
        position: relative;
        float: right;
        top: -98px;
        width: 160px;
        font-size:1em;
    }
    h2.mobile-layout{
        font-size:0;
        padding:0;
    }

}


@media (max-width: 700px) {
    h2.info-box {
        width:100%;
        color:#fff;
    }

    #title-text{
        width:100%;
        padding:0px;
    }
    h1{
        font-size:2.8em;
    }
    svg{
        visibility:hidden;
    }
    .browser-layout{
        font-size:0; 
    }
    .info-box{
        width: 100%;
        margin-left:0;
        position:fixed;
        bottom:0px;
    }
    .photo-container{
        display: inline-block;
        height: 200px;
        width: 40%;
    }
    .food-description{
        float:right;
    }
    #twitter-comment{
        display: inline-block;
        float: right;
        width: 60%;       
    }
    h2.mobile-layout  {
        background-color:rgb(32, 63, 84);
        font-size:1em;
        width:100%;
        padding:4px 8px 8px;
    }
    #city-name{
        color:rgba(255, 255, 255, 0.7);
        padding-bottom:0;
        font-size:0.8em;
        text-transform:uppercase;
    }
    .info-box{
        border-style:none;
    }
}

@media (min-width: 1280px) {
    #title-text{
        width:700px;
    }
    .food-detail{
        height: 120px;
    }
}



/**************************** Bottom Navigation ****************************/

#bottom-nav {
    background-color: #fff;
    color: #203F54;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    width: calc(100% - 20px);
    z-index: 1000;
}
#instagram-cta {
    float: right;
}
#twitter-cta i, #instagram-cta i {
    color: #203F54;
    font-size: 1.4em;
    vertical-align: middle;
    padding-right: 10px;
}
@media (max-width: 700px) {
    #twitter-cta span, #instagram-cta span{
        font-size:0; 
    }
}

#section{
    display: flex; 
    flex-flow: column;
}