@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Slabo+27px);

@font-face {
  font-family: ProximaNova;
  src: url("../../fonts/ProximaNova.otf") format("opentype");
  src: url("../fonts/ProximaNova.otf") format("opentype");
}
@font-face {
  font-family: 'lg';
  src: url('../assets/handsean.ttf');
  src: local('‰÷¼'), url('../assets/handsean.ttf') format('truetype');
  font-weight: normal;
  font-style: bold;
}

@font-face {
font-family: ProximaNova;
src: url("../fonts/ProximaNovaExtrabold.otf") format("opentype");
font-weight: bold;
}

@font-face {
font-family: Cubano;
src: url("../fonts/Cubano-Regular.otf") format("opentype");
}

element {
  --button-color: #f09f5b;
}

/**************************** Generic Tag Styles ****************************/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: 'ProximaNova', sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


h1 { 
    font-weight: 700;
    color: #fff;
    font-size: 4.6em;
    margin: 20px;
    margin-bottom: 0;
    font-family:'Cubano', sans-serif;
}

h2 {
    margin: 0;
    color: #1e9da3;
    font-weight: bold;
    display: inline-block;
    font-size: 24px;
}


h2.splash{
    margin: 6px 10px;
    font-weight:400;
    font-family:'Cubano', sans-serif;
}

.container>h2{
    font-size:2em;
}

h3 {
    padding: 7px 11px 6px;
    margin: 0;
    color: #fff;
    background-color: #1e9da3;
    font-family: 'ProximaNova', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

h4{
    color: #1e9da3;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
}


h4 a{
    color: #e2495b;
    font-family: 'Cubano';
    text-decoration: none;
    text-shadow: -2px 0 rgba(242,143,59,0.7);
    font-size:24px;
    line-height: 1.3;
    margin:4px;
}

p {
    font-family: 'ProximaNova', sans-serif;
    font-weight: 400;
    color: white;
}

#home-title{
    margin: 4px 10px;
}

#map-title{
    margin:1px 8px;
}

.light{
    font-weight:normal;
}

a { color: #1e9da3; }

img {
    width: 100%;
    height: auto;
}

footer{
    padding-top:40px;
    color:#949494;
}

#logo {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}


.mobile-layout > h3{
    text-align: center;
    padding-right: 10px;
}

.map-view {
    float: right;
}

.hide {
    display: none;
}

/*********************************** Map ***********************************/
#map {
    width: 100%;
    background-color: #EEE;
    height: calc( 100vh - 75px );
    top:-3px;
}

/****** Splash Page **********/

.map-page {
    height: 100%;
}
.splash-page {
    position: absolute;
    width: 100%;
    top: 0px;
    min-height: 100%;
    background: #FFF;
    z-index: 1000;
    background: url('../assets/bridge.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nav-bar {
    background: #FFF;
}
.backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0px 0px 0px 0px;
    overflow: hidden;
}
.title-text {
    text-align: center;
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}


.container {
    padding: 30px 20px 50px 20px;
    text-align:center;
}
.row {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    text-align: center;
}

.row > .column{
    display: inline-block;
    position:relative;
}
.grid-overlay {
    position: absolute;
    bottom:10px;
    z-index: 3;
    padding: 8px;
    background-color:#1e9da3;
    width:270px;
    font-family: 'Cubano';
}
.grid-img {
    /*width: 100%;*/
    width: 270px;
    height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
}
.overlay-text {
    color: white;
    background-color: #1e9da3;
    font-size: 20px;
    font-weight: 400;
    position: relative;
}

.title-text > p{
    margin: 8px 0 26px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding:0 10px;
}

#col1 {
    background-color: yellow;
    flex :0 0 240px;
}
#col2 {
    background-color: orange;
    flex: 1 1;
}
#col3 {
    background-color: purple;
    flex: 0 0 240px;
}


/********************* Splash Page (covers map templates/splash.html) ********************/
#splash {
    position: absolute;
    top: 56px;  
    background: rgba(34,34,34,0.45);
    text-align: center;
    width: 100%;
    z-index: 1000;
}

#place-overview {
    background-color: #FFF;
    padding-top: 15px;
    min-height: 400px;
}



#search-button {
    background-color: #e8700d;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    border-style: none;
    border-radius: 5px;
    padding: 10px 30px;
    margin: 5px 7px 8px;
}



/********************* Food Detail Page (templates/place-detail.html) *********************/
.info-box{
    background-color: #fff;
    display: none;
    overflow: hidden;
    z-index: 1000;
    box-shadow:0 0 14px rgba(94,112,125,0.2);
}

.food-detail {
    display: block;
    width: 100%;
    text-decoration: none;
}
.info-box > div {
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.info-box h2 {
    line-height: 1.2em;
    margin:14px;
}
.photo-container { 
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
svg {
    float: right;
    margin-top: 20px;
}
.tag, .tag-outline {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
}
.tag {
    cursor: pointer;
    fill: #203F54;
}
.tag-outline {
    fill-opacity: 0;
    stroke: #203F54;
    stroke-width: 2;
}


#social-media-handle .fa-instagram.dark {
    color: #585858;
}
#social-media-handle i {
    color: #55acee;
}
#social-media-handle {
    color: #585858;
    font-size: 1em;
    padding: 0 14px;
    margin-top: 0;
    padding-bottom: 2px;
    font-weight: bold;
    width: calc(100% - 40px);
    margin-bottom: 0;
}

#social-media-handle a {
    color: #585858;
    font-size: 1em;
    font-weight:bold;
    text-decoration: none;
}
.food-description {
    color: black;
    font-size: 1em;
    padding: 0 14px 28px;
    margin: 0;
}

#search-button-top{
    background-color: #e8700d;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    border-style: none;
    border-radius: 5px;
    padding:3px 10px;
    margin: 5px 7px 8px;
}

#search-button-bottom-mobile{
    background-color: #e8700d;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    border-style: none;
    border-radius: 5px;
    padding:3px 10px;
    margin: 5px 7px 8px;
    text-align:center;
}

.button-center{
    text-align:center;
    padding-bottom:20px;
}


@media (min-width: 700px) {
    .mobile-layout{
         display:none;
    }
    .info-box{
        width: 380px;
        margin-left:10px;
        top: 48px;
        max-height: calc(100vh - 108px);
        position: absolute;
        overflow: scroll;
    }
    #bottom-nav {
        width: 100%;
    }
    .carousel-control{
        top:200px;
    }
}


@media (max-width: 700px) {
    .nav {
        display: none;
    }
    #title-text{
        width:100%;
        padding-top:80px;
    }
    h1{
        font-size:1.6em;
    }
    .photo-container svg{
        visibility:hidden;
    }
    .browser-layout{
        display:none;
        padding:0;
    }
    .info-box{
        width: 100%;
        margin-left:0;
        position:fixed;
        bottom:0px;
        border-style:none;
    }
    .photo-container {
        display: inline-block;
        height: 150px;
        width: 150px;
    }
    #social-media-comment{
        display: inline-block;
        float: right;
        height:150px;
        width: calc(100% - 150px);     
    }
    h2.food-name  {
        margin:14px;
        line-height: 1.2;
        font-size: 1.2em;
    }
    #city-name{
        font-size:0.8em;
        padding:14px;
        text-align:center;
    }
    .title-text{
        padding-top:80px;
    }
    .carousel-control{
        top:40%;
    }
    .title-text > p{
        font-size:.9em;
    }
    .container>h2{
        font-size:1.4em;
    }
    #home-title{
        font-size:1em;
    }
}



@media (min-width: 1280px) {
    #title-text{
        width:700px;
        padding-top:;
    }
}




/**************************** Mobile sheet ****************************/

.mobile-sheet{
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    margin-left:0;
}

.zoom-photo-container{
    width:100%;
    height:100%;
    max-height:90vw;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 500px){
    .zoom-photo-container{
        max-height:75vw;
    }
}



/**************************** Bottom Navigation ****************************/

#bottom-nav {
    background-color: #fff;
    color: #585858;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    z-index: 1000;
    font-family:'Cubano';
    text-align: right;
    width: 100%;
}
.leaflet-container a.lg, .leaflet-container a.lg:hover, .leaflet-container a.lg:visited {
    color: #444;
    text-decoration: none;
    font: 12px/12px 'lg';
    line-height: 25px;
}
.leaflet-left {
    left: 0;
    height: 25px;
}

#bottom-nav .lg {
    float: left;
    font: 14px/14px 'lg';
    line-height: 30px;
} 
#bottom-nav .lg img {
    width: 30px;
    vertical-align: middle;
}

.lg-logo {
    width: 25px;
    margin-right: 5px;
    vertical-align: sub;
}

.yr-logo {
    width: 25px;
    vertical-align: sub;
}

.yr-logo-right {
    width: 25px;
    margin-top: -3px;
    float: right;
}

@media (max-width: 700px) {
    /*#bottom-nav .lg {
        display: none;
    }*/
    #social-media-cta{
        display: none;
    }
    #bottom-nav {
        position: fixed;
        right: 0px;
        background-color: transparent;
    }
}



/**************************/
/* New Styles Sarah Added */
/**************************/
.carousel-control {
    position: absolute;
    text-decoration: none;
    left: 15px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 60px;
    font-weight: 100;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background: #222;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: .4;
    filter: alpha(opacity=40);
    padding:5px ;
}

.carousel-control.right {
    right: 15px;
    left: auto;
}

.more {
    text-decoration: none;
}


.close-btn {
    right: 4px;
    top: 70px;
    font-size: 25px;
    line-height: 25px;
    position: absolute;
    text-decoration: none;
    width: 30px;
    height: 30px;
    margin-top: -20px;
    font-weight: 100;
    color: #666;
    text-align: center;
    background: #FFF;
    border: 3px solid #666;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: .7;
    filter: alpha(opacity=70);
}

.fa-home {
   color: #FFF;
   float: left;
   margin-top: -2px;
}
