<nav id="nav-bar" class="nav-bar browser-layout">
    <h4 id="map-title">
        <a href="https://youthradio.org" target="_blank"><img class="yr-logo" src="assets/YR_logo(30x30).png" /></a>
        <a href="#">#5DollarChallenge</a></h4>
    <a id="search-button-top" class = "map-view" href="#/explore">Explore</a>
</nav>
<div class="mobile-layout">
    <h3>
        <span id="city-name">
            #5DOLLARCHALLENGE
        </span>
        <a href="#"><i class="fa fa-home"></i></a>
        <a href="https://youthradio.org" target="_blank"><img class="yr-logo-right" src="assets/YR_logo(30x30).png" /></a>
    </h3>
</div>
<div class="map"></div>
<div id="left-panel"></div>
    