<div class="food-detail info-box food-detail-generic">
    <div id="nav-bar-detail" class = "browser-layout"> <h3 id = "city-name">{{ extras.city }}</h3></div>
    <div class="photo-container" style="background-image: url('{{ path_medium }}');">
    </div>
    <div id="social-media-comment">
        <a href="#" class="more mobile-layout">
            <h2 class = "food-name">
                {{ name }} - <span class = "light">{{ extras.price }}</span>
            </h2>
        </a>
        <h2 class = "food-name browser-layout">
            {{ name }} - <span class = "light">{{ extras.price }}</span>
        </h2>
        <p id="social-media-handle" class="browser-layout">
            {{#ifequal extras.source "twitter"}}
                <i class="fa fa-twitter"></i>
                <a target="_blank" href="https://twitter.com/{{ extras.handle }}">@{{ extras.handle }}</a>
            {{/ifequal}}
            
            {{#ifequal extras.source "instagram"}}
                <i class="fa fa-instagram dark"></i>
                <a target="_blank" href="https://instagram.com/{{ extras.handle }}">@{{ extras.handle }}</a>
            {{/ifequal}}
        </p>
        <!-- Three curly braces if you don't want to escape HTML -->
        <p class="food-description browser-layout">
            "{{{ caption }}}"
            <br><br>
            <a href="#" class="zoom" zoom-level="18">zoom to restaurant</a>
        </p>
        <div class="nav">
            <a class="carousel-control left previous-place" href="#" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right next-place" href="#" data-slide="next">&rsaquo;</a>
        </div>
    </div>
</div>

