<div id="titleText">
    <h1><span>5 DOLLAR CHALLENGE</span></h1>
    <p id="titleCaption">Danish icing cake dessert tiramisu macaroon. Liquorice danish biscuit biscuit jelly-o brownie. Cake jelly-o jelly-o. Cookie bear claw gummies chocolate cake apple pie croissant chupa chups.</p>
    <a class="search-button">explore</a>
</div>
<div id="place-overview">
    <div class="outer-grid">
        <a class="inner-grid" href="#/places/273">
            <div class="grid-img" style="background-image: url('https://dev.localground.org/profile/photos/L3VzZXJkYXRhL21lZGlhL3ZhbndhcnMvcGhvdG9zL3RhY29zXzUwMC5qcGcjMTQ1MzQ5NTY3NQ==/')">
                <div class="grid-overlay">
                    <span class="overlay-text"> Atlanta</span>
                </div>
            </div>
        </a>
    
       <a class="inner-grid" href="#/places/274">
            <div class="grid-img" style="background-image: url('https://dev.localground.org/profile/photos/L3VzZXJkYXRhL21lZGlhL3ZhbndhcnMvcGhvdG9zL3NhbmR3aWNoXzUwMC5qcGcjMTQ1MzQ5NTY3NQ==/')">
                <div class="grid-overlay">
                    <span class="overlay-text">Boston</span>
                </div>
            </div>
        </a>
    
       <a class="inner-grid" href="#/places/275">
            <div class="grid-img" style="background-image: url('https://dev.localground.org/profile/photos/L3VzZXJkYXRhL21lZGlhL3ZhbndhcnMvcGhvdG9zL3JhbWVuXzUwMC5qcGcjMTQ1MzQ5NTY3NQ==/')">
                <div class="grid-overlay">
                    <span class="overlay-text"> Oakland</span>
                </div>
            </div>
        </a>
    </div>
</div>