<div class="splash">
    <div id="titleText">
        <h1><span>5 DOLLAR CHALLENGE</span></h1>
        <p id="titleCaption">Danish icing cake dessert tiramisu macaroon. Liquorice danish biscuit biscuit jelly-o brownie. Cake jelly-o jelly-o. Cookie bear claw gummies chocolate cake apple pie croissant chupa chups.</p>
        <form class="fixedNavSearch">
            <input type="text" name="location" class="location searchBox" placeholder="Where would you like to search?">
            <input type="submit" class="search-button" value="Submit"></input>
        </form>
    </div>
</div>