<div class="splash-container">
    <nav id="nav-bar" class="nav-bar">
        <h4 class = "splash" id = "home-title"> Youth Radio Presents:</h4>
    </nav>
    <div class="title-text">
        <h1>5 DOLLAR CHALLENGE</h1>
        <p>
            Explore what you can buy with 5 dollars across the United States with this interactive map. Can you find a 5 dollar meal in your city? Tweet or instagram us a photo with #5dollarchallenge
        </p>
        <a class="search-button" href="#/explore">explore</a>
    </div>
</div>
<div class="container">
    <h2 class = "splash">Explore By City</h2>
    <div class="row"></div>
</div>