<div class="splash-container">
    <nav id="nav-bar" class="nav-bar">
        <h4 class = "splash" id = "home-title">
            <img class="yr-logo" src="assets/YR_logo(30x30).png" />
            NPR &amp; Youth Radio Asked:  What can you eat in your city for $5?
        </h4>
    </nav>
    <div class="title-text">
        <h1>#5DollarChallenge</h1>
        <p>
            Youth Radio and NPR asked for the best meals you could find in your town for $5 or less. From breakfast tacos to banh mi sandwiches, here are some of our favorites.  
        </p>
        <a id="search-button" href="#/explore">Explore</a>
    </div>
</div>
<div class="container">
    <div class="row"></div>
    <footer>
        Powered by
        <a href="https://youthradio.org" target="_blank">Youth Radio</a> &
        <a href="http://localground.org" target="_blank">Local Ground</a>
    </footer>
</div>