<div class="top-third">
    <nav id="nav-bar" class="nav-bar">
        <h2 class = "splash"> Youth Radio Presents:</h2>
    </nav>
    <div class="title-text">
        <h1>5 DOLLAR CHALLENGE</h1>
        <p>
            Danish icing cake dessert tiramisu macaroon. Liquorice
            danish biscuit biscuit jelly-o brownie. Sweet roll halvah jelly-o. Chocolate cake toffee sugar plum pastry candy liquorice. Jelly beans pudding danish chocolate cake.
        </p>
        <a class="search-button" href="#/explore">explore</a>
    </div>
</div>
<div class="bottom-two-thirds">
    <div class="outer-grid"></div>
</div>